@import "../vars";

.circle-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  top: calc(25% - 60px);
}

@media screen and (max-width: 768px) {
  .circle-container {
    display: none;
  }
}

.circle-container {
  width: 530px;
  height: 530px;
  border: 1px solid rgba($mainColor, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;

  z-index: 9999;

  .circle-element {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: rgba($mainColor, 0.2);
    cursor: pointer;

    .inner-circle {
      width: 100%;
      height: 100%;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: $mainColor;
      color: rgba($mainColor, 0.2);
      transform: scale(0.1);
      transition: 0.2s linear;
    }

    &:hover .inner-circle {
      border: 1px solid $mainColor;
      background-color: $bgColor;
      color: rgba($mainColor, 0.2);
      transform: scale(1);
      transition: 0.2s linear;
    }
  }

  .circle-element.active {
    .inner-circle {
      border: 1px solid $mainColor;
      background-color: $bgColor;
      color: rgba($mainColor, 0.2);
      transform: scale(1);
      transition: 0.2s linear;
    }
  }

  .text {
    color: $mainColor;
  }
}

.year-range {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-align: center;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.year-start {
  display: flex;
  font-size: 200px;
  padding: 0;
  margin: 0;
  color: $irisColor;
  line-height: 160px;
  font-weight: 700;
  letter-spacing: -4px;
}

.year-finish {
  display: flex;
  font-size: 200px;
  padding: 0;
  margin: 0;
  color: $fuschiaColor;
  line-height: 160px;
  font-weight: 700;
  letter-spacing: -4px;
}

@media screen and (max-width: 768px) {
  .circle-menu {
    height: 50%;
    top: 0;
  }

  .year-range {
    width: 100%;
    position: relative;
    gap: 40px;
    align-self: flex-end;
  }

  .year-finish {
    font-size: 56px;
  }

  .year-start {
    font-size: 56px;
  }
}
