@import "vars";

.event {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.event-year {
  font: 25px $fontYear;
  color: $secondaryColor;
  margin: 0;
}

.event-text {
  text-align: left;
  font-size: 20px;
  line-height: 150%;
  color: $mainColor;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .event {
    max-height: 140px;
    height: 100%;
  }

  .event-year {
    font-size: 16px;
  }

  .event-text {
    font-size: 14px;
    line-height: 145%;
  }
}
