$fontYear: 'Bebas Neue',sans-serif;
$yearBlue: #3877EE;

$blackBlue: #42567A;

.event {
  //max-width: 320px;
  //min-width: 160px;
  // max-height: 135px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
   overflow: hidden;
}

.event-year {
  font: 25px $fontYear;
  color: $yearBlue;
  margin: 0;
}

.event-text {
  text-align: left;
  font-size: 20px;
  line-height: 150%;
  color: $blackBlue;
  margin: 0;
  //text-wrap: ;
  // overflow: visible;
}

@media screen and (max-width: 768px) {
  .event {
    max-height: 140px;
    height: 100%;
  }

  .event-year {
    font-size: 16px;
  }

  .event-text {
    font-size: 14px;
    line-height: 145%;
  }
}