$swiperButton: url(../assets/swiper-button.svg);

.event-list {
	// height: fit-content;
	height: 135px;
	width: calc(100% - 160px);
	// width: 100%;
	// padding: 0 80px;
	position: relative;
	// display: flex;
	// justify-content: center;
	margin-bottom: 105px;
  // flex-shrink: 1;
  // overflow: visible;
}

.event-list-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	// border: 1px rgba(66, 86, 122, 0.5) solid;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
	background: transparent $swiperButton no-repeat 50%;
	cursor: pointer;
  position: absolute;
  margin: auto 0;
  top: 25%;
  left: -50px;
  z-index: 999;
  align-self: center;
  justify-self: center;
}

.next {
  left: auto;
  right: -50px;
}

.prev {
  transform: rotate(180deg);
}

.disabled {
  display: none;
}


// .swiper {
//   width: calc(100% - 160px);
//   padding: 0 80px;
// }
