$swiperButton: url(../assets/swiper-button.svg);

.event-list {
  height: 240px;
  width: calc(100% - 160px);
  // width: 100%;
  padding: 0 80px;
  position: relative;
}

// .swiper {
//   width: calc(100% - 160px);
//   padding: 0 80px;
// }
