$swiperButton: url(../assets/swiper-button.svg);

.event-list {
  // height: fit-content;
  height: 240px;
  width: calc(100% - 160px);
  // width: 100%;
  // padding: 0 80px;
  position: relative;
  // display: flex;
  // justify-content: center;
  //margin-bottom: 105px;
  // flex-shrink: 1;
  // overflow: visible;
  //align-self: flex-end;
}

.event-list-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // border: 1px rgba(66, 86, 122, 0.5) solid;
  box-shadow: 0 0 15px rgba(56, 119, 238, 0.10);
  background: transparent $swiperButton no-repeat 50%;
  cursor: pointer;
  position: absolute;
  margin: auto 0;
  top: 25%;
  left: -50px;
  z-index: 999;
  align-self: center;
  justify-self: center;
}

.swiper {
  height: 100%;
}

.swiper-button-disabled {
  display: none;
}


.next {
  left: auto;
  right: -50px;
}

.prev {
  transform: rotate(180deg);
}

.disabled {
  display: none;
}


@media screen and (max-width: 768px) {
  .event-list {
    width: 100%;
    height: calc(50% - 20px);
    margin: 0;
    justify-self: flex-end;
    align-self: flex-end;
    border-top: #C7CDD9 1px solid;
    padding-top: 20px;
  }

  .event-list-button {
    display: none;
  }

  .swiper-slide {
    opacity: 0.5;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-pagination {
    margin-bottom: 24px;
    //height: 6px;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .swiper-pagination-bullet-active {
    background: #42567A;
  }

}