@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

$bgColor: #f4f5f9;
$fontMain: 'PT Sans', sans-serif;

html {
  height: 100%;
}

body {
  font-family: $fontMain;
  margin: 0;
  background: $bgColor;
  user-select: none;
  height: 100%;
}

#root {
  height: 100%;
}
